---
layout: page
title: 李江锦的个人主页
subtitle: 认真努力，为将来打拼一个美好未来。
permalink: /about/
---

<h2>关于这网站</h2>
<p>这是我的个人网站 </p>
	<p><ul class="about-list">
		<li><i class="fa fa-modx"></i> 共点击 <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> 次， <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> 访客</li>
	</ul></p>

<h2>关于我</h2>
<p>李江锦，男，已婚，有一儿，已过而立。在广西南宁漂泊的岑溪人。暂居西乡塘片区，工作在青秀区。毕业于桂林电子科技大学三院1专业。</p>
<p>
嵌入式软件工程师，摄影师，金融学者，历史家，科学哲学爱好者，社会问题研究者。爱好广泛，精通甚少。古文、诗词、文学、小说、武侠、经济、社会等无所不涉。目前主要混迹于显示器、鼠标、键盘之间。于代码及兴趣之事中有所得，与好友谈之一二，足够了。</p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
