---
layout: default
---

大家好，欢迎光临我的个人主页。这里有我的介绍、作品、简历、证书、诗作。<br><br>
我叫李江锦，三十有余，已婚，有一儿。在广西南宁漂泊的岑溪人。暂居西乡塘片区，工作在青秀区。目前从事软件开发和运维方面的工作。<br><br>
我是一名软件工程师，接触并使用Linux逾十年，从事嵌入式开发七年多。熟悉软件开发，做过项目管理，掌握多种常见开发类工具或软件，常用语言是C、C++，也会点python、html、php。研究过、做过很多东西，熟悉度随时间和工作范围而变化。但算法、卷积神经、傅里叶变换实在无法理解透。<br><br>
热爱开源，热衷分享，对软件多个领域感兴趣。<br><br>
愿为工作付出，信奉：能者多劳，多劳多得。<br><br>
衣食无压力时，愿为理想奋斗。生活压力大时，肯为斗米折腰。希望能靠双手为家人打拼一个美好未来。<br><br>

犬儿李大锤个人主页：<a href="https://www.lidachui.cn" target="_blank"> https://www.lidachui.cn</a>
</br>

<h2>联系我</h2>
<p>
<div class="about-list">
<li>
	<i class="fa fa-home"></i> 个人主页：<a href="https://www.lijiangjin.cn" target="_blank"> https://www.lijiangjin.cn</a>
</li>
<li>
	<i class="fa fa-home"></i> 技术主页：<a href="http://www.latelee.org" target="_blank"> http://www.latelee.org</a>
</li>
<li>
	<i class="fa fa-puzzle-piece"></i> 迟思堂工作室：<a href="http://www.cststudio.com.cn" target="_blank"> http://www.cststudio.com.cn</a>
</li>

<li>
	<i class="fa fa-github"></i> <a href="https://github.com/latelee"target="_blank"> https://github.com/latelee</a>
</li>

<li>
	<i class="fa fa-envelope"></i> <a href="mailto:jj@lijiangjin.cn"> jj@lijiangjin.cn</a>
</li>
<li>
	<i class="fa fa-qq"></i> 2378410766<br>
</li>
<li>
	<i class="fa fa-weixin"></i> fly_camel_fly<br>
</li>
<li>
	<i class="fa fa-weibo"></i> 无<br>
</li>
</div>
</p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
