---
layout: default
title: 李江锦的个人主页
subtitle: 认真努力，为将来打拼一个美好未来。
---

<p>欢迎光临我的个人主页</p>

<h2>关于我</h2>
<p>李江锦，男，已婚，有一儿，已过而立。在广西南宁漂泊的岑溪人。暂居西乡塘片区，工作在青秀区。</p>

<p>

</p>

<p>
嵌入式软件工程师，摄影师，金融学者，历史家，科学哲学爱好者，社会问题研究者。爱好广泛，精通甚少。古文、诗词、文学、小说、武侠、经济、社会等无所不涉。目前主要混迹于显示器、鼠标、键盘之间。于代码及兴趣之事中有所得，与好友谈之一二，足够了。</p>

<h2>联系我</h2>

<div class="about-list">
<li>
	<i class="fa fa-home"></i> 个人主页：<a href="http://www.lijiangjin.cn" target="_blank"> http://www.lijiangjin.cn</a>
</li>
<li>
	<i class="fa fa-home"></i> 技术主页：<a href="http://www.latelee.org" target="_blank"> http://www.latelee.org</a>
</li>
<li>
	<i class="fa fa-puzzle-piece"></i> 迟思堂工作室：<a href="http://www.cststudio.com.cn" target="_blank"> http://www.cststudio.com.cn</a>
</li>

<li>
	<i class="fa fa-github"></i> <a href="https://github.com/latelee"target="_blank"> https://github.com/latelee</a>
</li>

<li>
	<i class="fa fa-envelope"></i> <a href="mailto:jj@lijiangjin.cn"> jj@lijiangjin.cn</a>
</li>
<li>
	<i class="fa fa-qq"></i> 不宜公开<br>
</li>
<li>
	<i class="fa fa-weixin"></i> 不宜公开<br>
</li>
<li>
	<i class="fa fa-weibo"></i> 无<br>
</li>
</div>

<p>more coming soon ... </p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
