<footer class="site-footer">

  <div class="wrapper">

    <center>
        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<!--<a class="link" href="{{ site.baseurl }}/">{{ site.name }}</a>-->
        <a href="https://beian.miit.gov.cn/" target=_blank>{{ site.icp }}</a> &nbsp;&nbsp 
        <i class="fa fa-modx"></i>
        <script src="https://s22.cnzz.com/z_stat.php?id=1273889352&web_id=1273889352" language="JavaScript"></script>
		<br>
    </center>
    
  </div>

</footer>
