<footer class="site-footer">

  <div class="wrapper">

    <center>
        
		<p><a class="link" href="{{ site.baseurl }}">首页</a> | 
        <a class="link" href="{{ site.baseurl }}/resume/">个人简历</a> | 
		<a class="link" href="{{ site.baseurl }}/about/">关于我</a> |
		<a class="link" href="{{ site.baseurl }}/contact/">联系方式</a>
        </p>

        <span><script>document.write(new Date().getFullYear());</script></span>
        <span>&copy;</span>
        
		<a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
		<br>
    </center>
    
  </div>

</footer>
