<nagv class="site-nagv">
  <div class="wrapper">

    <center>

		<p><a class="link" href="{{ site.baseurl }}/">首页</a> | 
        <a class="link" href="{{ site.baseurl }}/mywork/">个人作品</a> | 
		<a class="link" href="{{ site.baseurl }}/resume/">个人简历</a> | 
		<a class="link" href="{{ site.baseurl }}/contact/">联系方式</a> |
		<a class="link" href="{{ site.baseurl }}/certificate/">证书集</a> |
		<a class="link" href="{{ site.baseurl }}/memory/">回忆集</a> |
        <a class="link" href="{{ site.baseurl }}/about/">关于我</a>
        </p>

    </center>
  </div>
</nagv>
