<nagv class="site-nagv">
  <div class="wrapper">
    <center>
		<p>
        <a class="link" href="{{ site.baseurl }}/">首页</a> | 
        <a class="link" href="{{ site.baseurl }}/mywork/">作品</a> | 
		<a class="link" href="{{ site.baseurl }}/resume/">简历</a> | 
		<a class="link" href="{{ site.baseurl }}/certificate/">证书集</a> |
		<a class="link" href="{{ site.baseurl }}/memory/">回忆墙</a> |
		<a class="link" href="{{ site.baseurl }}/life/">生活录</a> |
        <a class="link" href="{{ site.baseurl }}/poetry/">诗词作</a> |
        <a class="link" href="{{ site.baseurl }}/about/">关于我</a>
        </p>
    </center>
  </div>
</nagv>
