<h2>技能树</h2>

<br>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            网站搭建/HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 25%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="green" style="width: 90%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Linux
        </div>
        <div class="progress">
            <span class="blue" style="width: 95%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            算法
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 25%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            嵌入式ARM+Linux
        </div>
        <div class="progress">
            <span class="grey" style="width: 90%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            技术管理
        </div>
        <div class="progress">
            <span class="yellow" style="width: 50%;"></span>
        </div>
    </div>
</section>
